
<!-- <div class="container">  
    <form id="contact" action="" method="post">
      <h3>Quick Contact</h3>
      <h4>Contact us today, and get reply with in 24 hours</h4>
      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      
      <fieldset>
        <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
      
    </form>
   
    
  </div> 


 -->













  <!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
  </div>
  <div class="row">
    <div class="column">
      <img src="assets\images\c1.jpg"style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php" (ngSubmit)="save()">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." [(ngModel)]="contact.firstName">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." [(ngModel)]="contact.lastName">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email.." [(ngModel)]="contact.email">
        
        <label for="subject">Comment</label>
        <textarea id="subject" name="subject" placeholder="Write something...."  [(ngModel)]="contact.comment"style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

</body>
</html>
 -->
